@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #2467EC;
    --primary-foreground: #fafafa;
  }

  .dark:root {
    --primary: #2467EC;
    --primary-foreground: #16181b;
  }
}